* {
  font-family: "Muli", sans-serif;
}

h1,
h3,
h4,
li {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.green {
  color: #97b470;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #97b470;
}

li {
  display: inline;
  padding: 3px;
  color: #97b470;
}

.flexbox-container {
  display: flex;
}

.navbox {
  margin-left: 50%;
  margin-top: 2%;
  display: fixed;
}

#banner {
  height: 250px;
  width: 100%;
  opacity: 0.9;
}

.blurb {
  padding: 0 45px;
}

.flex {
  display: flex;
  margin-top: 3%;
}

.div {
  width: 33.3%;
  text-align: left;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 200px;
  padding: 20px;
}

.div1 {
  width: 33.3%;
  text-align: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 200px;
  padding: 20px;
}

.cursive {
  font-family: "Charm", cursive;
  color: #97b470;
}

.footer {
  text-align: center;
}

.menu-box {
  width: 50%;
  height: 700px;
  margin-left: 25%;
  border: 1px solid black;
}

.menu-box div {
  font-family: "Sacramento", cursive;
  font-size: 4vw;
  font-weight: bold;
  padding: 20px;
}

#menufont {
  color: black;
  font-family: "Hind Guntur", sans-serif;
  font-size: 1vw;
}

.locationbox {
  margin-left: 15%;
}

.locationbox img {
  width: 350px;
  height: 350px;
  margin: 50px;
  background-color: black;
}

.locationbox p {
  float: right;
  padding: 150px 300px 0 0;
  width: 150px;
  font-size: 1.5vw;
}
